body {
    margin: 10px;
}

p {
    font-size: 21px;
}

h1 {
    font-size: 25px;

}
h2 {

}

img {
    max-width: 100%;
    
}

figure {
    margin: 0;
    padding: 10px;
    
}

@media (min-width: 1000px) {
 
    body {
        background-color: rgb(163, 163, 163);
        margin: 30px;
    }

    p {
        font-size: 30px;
    }

    figure {
        display: inline-block;
        
        
    }

    img {
        max-width: 100%;
        
    }

}